//COLORS

//Primary

$Soft-red: hsl(10, 79%, 65%);
$Cyan: hsl(186, 34%, 60%);

//Secondary

$Dark-brown: hsl(25, 47%, 15%);
$Medium-brown: hsl(28, 10%, 53%);
$Cream: hsl(27, 66%, 92%);
$Very-pale-orange: hsl(33, 100%, 98%);
$White: hsl(0,0%,100%);

//FONT

$font: 'DM Sans';

//MEDIA QUERIES

$mobile: 37.5rem;



//FONT SIZE

$font-size-1: 1.6rem;
$font-size-2: 3rem;
$font-size-3: 4.3rem;

$font-size-mobile-1: 1.6rem;
$font-size-mobile-2: 2.4rem;
$font-size-mobile-3: 3.2rem;

//GAP INFO

$gap-info: 0.6rem;
$gap-chart: 1.5rem;

$gap-chart-mobile: 1.2rem;

//MARGINS

$m-chart: 1.5rem;

//PADDINGS

$p-x-container: 2.5rem;
$p-y-container: 1rem;

//BORDER RADIUS

$br-1: 1rem;
$br-2: 0.3rem;




